<!-- frontend footer -->
<footer>
    <div class="text">
        <h1><a href="#" class="hvr-buzz-out">Nomad Coder</a></h1>
        <p>Fullstack Javascript Web Developer</p>
    </div>

    <div class="nav">
        <div class="nav-items">
            <div class="nav-item"><a href="#">home</a></div>
            <div class="nav-item"><a href="#skills">about</a></div>
            <div class="nav-item"><a href="#projects">projects</a></div>
            <div class="nav-item"><a href="/blog">blog</a></div>
            <div class="nav-item"><a href="#contact">contact</a></div>
        </div>
    </div>

    <div class="copyright">
        <p>Built with love on a MEN stack.</p>
        <p>© nomadcoder.io All rights reserved.</p>
    </div>
</footer>


