<!-- frontend header -->
<header class="">
    <img class="logo" src="/nomad.jpg" width="100px" height="100px" />
    <div class="headlines">
        <h1 class="header">
            <a href="/blog" class="header_link">Nomad Coder</a>
        </h1>
        <p class="header_sub"><small>crafting web apps across the globe</small></p>
    </div>
</header>