<!DOCTYPE html>
<html lang="en" style="height:100%">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Oopsie...</title>
</head>
<body style="background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); height:100%">

<div class="container-fluid d-flex flex-column align-items-center justify-content-center" style="height:100%">
    <div class="row align-items-center justify-content-center">
        <div class="col-lg-5 mb-2 mb-lg-0">
            <div class="card bg-light">
                <h4 class="card-header text-center p-2">down for maintenance</h4>
                <div class="card-body">
                    <p class="card-text text-center text-muted"><small>Lucas is busy deploying epic features at light speed. We'll be back online shortly.</small></p>
                </div>
            </div>
        </div>

        <div class="col-lg-5">
            <img class="img-fluid mx-auto d-block img-thumbnail" src="/maintenance_mode_keyboard.gif"/>
        </div>
    </div>
</div>

</body>
</html>