<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/login.css" />
    <title>signin</title>
  </head>
  <body>
    <div class="container-fluid">
      <section class="row justify-content-center">
        <!-- login section -->
        <section class="px-3 py-3 shadow rounded-lg mt-4 col-sm-8 col-md-6 col-lg-4">
          <div class="d-flex justify-content-center">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user-lock" width="25%" class="svg-inline--fa fa-user-lock" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="currentColor" d="M224 256A128 128 0 1 0 96 128a128 128 0 0 0 128 128zm96 64a63.08 63.08 0 0 1 8.1-30.5c-4.8-.5-9.5-1.5-14.5-1.5h-16.7a174.08 174.08 0 0 1-145.8 0h-16.7A134.43 134.43 0 0 0 0 422.4V464a48 48 0 0 0 48 48h280.9a63.54 63.54 0 0 1-8.9-32zm288-32h-32v-80a80 80 0 0 0-160 0v80h-32a32 32 0 0 0-32 32v160a32 32 0 0 0 32 32h224a32 32 0 0 0 32-32V320a32 32 0 0 0-32-32zM496 432a32 32 0 1 1 32-32 32 32 0 0 1-32 32zm32-144h-64v-80a32 32 0 0 1 64 0z"></path></svg>
          </div>
          <div class="row justify-content-center mt-2">
            <p class="h3">sign in</p>
          </div>

          <!-- login form -->
          <form
            class="form-group"
            action="/login"
            method="post"
            name="signinform"
          >
            <div class="form-group">
              <label for="username" class="col-form-label">Username</label>
              <input
                class="form-control"
                type="text"
                name="username"
                id="username"
                placeholder="your username"
                required
              />
            </div>

            <div class="form-group-row">
              <label for="password" class="col-form-label">Password</label>
              <input
                class="form-control"
                type="password"
                name="password"
                id="password"
                placeholder="your password"
                required
              />
            </div>

            <div class="form-group-row mt-3">
              <button
                class="btn btn-primary"
                type="submit"
                id="submitBtn"
                value="sign in"
                alt="sign-in"
              >
                sign in
              </button>
            </div>
          </form>

          <!--

            <hr />
            <div class="row justify-content-center mx-3">
                <a href="/auth/google"><img width="225px" src="google/btn-sign-in-g.svg"></a>
            </div> -->

          <%if(typeof error != 'undefined') {%>
          <div
            class="alert alert-danger mt-2 alert-dismissable fade show"
            role="alert"
          >
            <%if(error === 'val') {%>Missing credentials<%}%> <%if(error ===
            'auth') {%>Bad credentials<%}%>
            <button
              type="button"
              class="close mb-0"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </section>
        <%}%>
      </section>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
