<!DOCTYPE html>
<html lang="en">
<head>
    <!-- required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>sign up</title>
</head>
<body>

<h2>sign up</h2>
<a href="/signin">sign in</a>

    <form action="/signup" method="post" name="signupform">
        Username: <input type="text" name="username" id="username" /> <br />
        Password: <input type="password" name="password" id="password" /> <br />
    <input type="submit" id="submitBtn" value="sign up" />
</form>
</body>
</html>